 body {
}

#banner {
 width: 100%
}

.principal {
 background:#CCCCCC;
}

h1 {
 text-align: center;
}

p{
 text-align: center;
 background: #CCCCCC;
}

 #missão {
 font-size:20px;
}
em strong {
 color:#ffoooo;
}

 .benefícios {
background: #FFFFFF;
} 

 .itens{
 font-style: italic;
} 

.imagembenefícios{
 width:50%;
} 

ul {
 display: inline-block;
} 
